.header{
    background: #242530;
    position: relative;
    z-index: 1;
    padding: 8px 24px;

    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__lang-ua{
        display: none;
    }
    &__lang {
        @extend%ssp-600;
        font-size: 18px;
        line-height: 135%;
        margin:0 1.5vw;
        &:hover{
            color: #F58122;
        }
    }

    &__play{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__play-btn{
        width: 32px;
        height: 32px;
        background: linear-gradient(90deg, #F58122 0%, #F4A05B 23.75%, #F58122 48.22%, #F58122 48.23%, #F4A05B 75.31%, #F58122 100%);
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 25px;
        &::after{
            content: "";
            display: block;
            margin: 6px 5px 6px 9px;
            background-image: url(../images/header/play-white.svg);
            width: 18px;
            height: 20px;
        }
    }
    &__play-text{
        @extend%ssp-400;
        font-size: 16px;
        line-height: 150%;
        display: flex;
        flex-direction: column;
        &::before{
            content: "Зараз грає";
            display: block;
            font-size: 14px;
            line-height: 140%;
        }
    }
}

.menu{
    @extend%ssp-600;
    font-size: 18px;
    line-height: 135%;
    width: 75vw;
    
    &__list{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__list-item:not(:first-child){
        padding-left: 32px;
        align-items: center;
    }
    &__list-link{
        &:hover{
            color: #F58122;
        }
    }
}

.change-lang>.header__lang-eng{
    display: none;
}
.change-lang>.header__lang-ua{
    display: block;
}

.play::after{
    content: "";
            background-image:none; 
            height: 8px;
            width: 16px;
            margin: 12px 8px;
            border-top: 2px solid white;
            border-bottom: 2px solid white;
        }
.logo__img{
    margin-right: 1.5vw;
}