@media (max-width: 1350px) {
    @import "vars";
    .menu{
        width: 10vw;
        transition: all 1s ;
        &__list-link{
            display: inline-block;
            margin-bottom: 20px;
        }
        &__list{
            display: none;
        }
    }
    .header__menu-btn{
        display: block;
        order:1;
        transition: all 1s;

    }
    .header__lang-wrapp {
        order:2;
    }
    .header__play{
        order:4;
        width: 30vw;
        min-width: 200px;
    }
    .logo__img {
        order: 3;
        width: 80vw;
    }
    .footer{
        &__block__btns{
            position: absolute;
            left:0;
            top: 160px;   
        }
        &__block__menu{
            position: relative;
            order: 2;
            margin-left: 8vw;
        }
        &__block__contact{
            position: relative;
            order:3;
        }
        &__logo{
            width: 153px;
        }
        &__block-text{
            width: 190px;
        }
        
    }
    .menu-open + .menu__list{
        display: block;
        position: absolute;
        font-size: 20px;
        line-height: 140%;
        flex-direction: column;
        background: #242530;
        top: 80px;
        left: 0;
        padding: 60px 56px 60px 49px;
    }
    
    .menu-open{
        transition: all 0.5s ;
        position: relative;
        z-index: 10;
        & span{
            transform: rotate(-45deg);
        }
        &::before{
            transform: rotate(45deg);
            margin-bottom: -4px;
        }
        &::after{
            transform: rotate(-45deg);
            background-color: transparent;
        }
    }

    .top{
        
        &__inner{
            padding-top: 40px;
        }
        &__inner-text{
            font-size: 32px;
            line-height: 150%;
            width: 38vw;
        }
        &__inner-btn{
            margin-top: 200px;
            margin-bottom: 0;
        }
        &__inner__play{
            top: 150px;
        }
        &__inner__slideContainer{
            top: 360px;
        }
        &__tracks{
            width: 96vw;
            position: relative;
            left: -8vw;
            z-index: 1;
        }
        &__tracks-1,
        &__tracks-2,
        &__tracks-3{
            font-size: 14px;
            line-height: 140%;
            padding: 16px 12px;
            width: 31vw;
        }
        &__tracks-2::before{
            margin-right: 14px;
            width: 16px;
            height: 18px;
        }
        &__dec-1{
            top: -150px;
            left:-115px;
        }
        &__dec-2{
            position: absolute;
            top: 200px;
            left:-180px;
        }
        &__dec-3{
            position: absolute;
            bottom: 0;
            right:0;
        }
    }
    .sliders{
        .main-carousel{
            width: 100vw;
            margin-bottom: 70px;
        }
        & .flickity-button {
            display: none;
        }
        & .flickity-page-dots .dot{
            background: #525257;
            opacity: 1;
            width: 8px;
            height: 8px;
    
        }
        & .flickity-page-dots .is-selected{
            background: #F58122;
        }
    }
    

    .order{
        align-items: start;
        &__line{
            margin: 53px 30px;
        }
        &__block{
            position: relative;
            width: 50vw;
            padding-top: 53px;
        }
        &__title{
            font-size: 28px;
            line-height: 130%;
        }
        &__text{
            font-size: 16px;
            line-height: 150%;
        }
        &__btn{
            width: 164px;
            position: absolute;
            top: 245px;
        }
    }

    .cooperation{
        align-items: start;
        padding-top: 100px;
        padding-bottom: 0;
        position: relative;
        &__title{
            font-size: 28px;
            line-height: 130%;
            position: absolute;
            top: -50px;
            margin-bottom: 0;
            text-align: center;
            width: 100vw;
            left: -55vw;
        }
        &__block{
            position: relative;
            top: 0;
            left: -10vw;
            padding-top: 20px;
        }
        &__text{
            font-size: 16px;
            line-height: 150%;
        }
        &__text1{
            font-size: 18px;
            line-height: 110%;
            margin-bottom: 12px;
        }
        &__btn{
            position: relative;
            top: -20px;
            margin-top: 20px;
            width: 160px;
        }
        &__img{
            left: -15vw;
            width: 55vw;
        }
       
    }

    .program{
        &__gallery{
            max-width: 770px;
        }
        &__title{   
            font-size: 28px;
            line-height: 130%;
        }
    }

    .news{
        &__title{
            font-size: 28px;
            line-height: 130%;
        }
        & .main-carousel{
            width: 100vw;
        }
        & .carousel-cell  {
            width: 30%;
            margin-left: 5%;
        }
        & .carousel-cell .is-selected  {
            margin-right: 50%;
        }
        & .flickity-page-dots .dot{
            background: #525257;
            opacity: 1;
            width: 8px;
            height: 8px;
    
        }
        & .flickity-page-dots .is-selected{
            background: #F58122;
        }
        & .flickity-button {
            display:inline-block;
            background: #FFFFFF;
            opacity: 0.5;
            border-radius: 8px;
            width: 20%;
            height: 100%;
            &-icon {
                fill: black;
                width: 16px;
                height: 32px;;
                top: 50%;
            }
        }
        & .flickity-prev-next-button.previous {
            left: 0;
        }
        & .flickity-prev-next-button.next {
            right: 0;
        }
    }

}