@media (max-width: 700px){
    .header__lang-wrapp{
        display: none;
    }
    .menu-open ~ .header__lang-wrapp{
        display: block;
        position: absolute;
        top: 108px;
        left: 40px;
    }
    .menu-open + .menu__list{
        background: #242530;
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        
        padding: 180px 0 450px 49px;
    }
    .menu-open ~ .top__inner-fb{
        display: block;
        position: absolute;
        top: 502px;
        left: 40px;
    }
    .menu-open ~ .footer__block__contact{
        display: block;
        position: absolute;
        top: 590px;
        left: 43px;
    }
    .logo__img{
        margin-left: 20px;
    }
    .header__play-text {
        font-size: 12px;
        line-height: 130%;
        & p{
            white-space: nowrap;
            overflow: hidden;
            text-overflow:ellipsis; 
        }
        
        &::before{
            font-size: 10px;
            line-height: 120%;
        }
    }
    .header__play-btn{
        margin-right: 8px;
    }
    .header__play{
        width: 110px;
        margin-left: 50px;
       
    }
}
