@media (max-width: 700px){
    .header__lang-wrapp{
        display: none;
    }
    .menu-open ~ .header__lang-wrapp{
        display: block;
        position: absolute;
        top: 108px;
        left: 40px;
    }
    .menu-open + .menu__list{
        background: #242530;
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        
        padding: 180px 0 450px 49px;
    }
    .menu-open ~ .top__inner-fb{
        display: block;
        position: absolute;
        top: 502px;
        left: 40px;
    }
    .menu-open ~ .footer__block__contact{
        display: block;
        position: absolute;
        top: 590px;
        left: 43px;
    }
    .logo__img{
        margin-left: 20px;
    }
    .header__play-text {
        font-size: 12px;
        line-height: 130%;
        
        &::before{
            font-size: 10px;
            line-height: 120%;
        }
    }
    .header__play-btn{
        margin-right: 8px;
    }
    .header__play{
        width: 30vw;
        min-width: 110px;
        margin-left: 50px;
       
    }

    .footer{
        padding: 0 16px 52px 16px;
        width: 100%;
        &__block__btns{
            position: absolute;
            left:0;
            top: 450px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-direction: row;  
        }
        &__block__logo{
            position: absolute;
            left:0;
            top: 52px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-direction: row; 
        } 
        &-fb{
            margin-top: 0;
        }
        &__top{
            width: 100%;
            padding: 140px 0 110px 0;;
        }
        &__block__menu{
            position: relative;
            order: 2;
            margin-left: 0;
        }
        &__block__contact{
            position: relative;
            order:3;
        }
        &__block-text{
            width: 40vw;
            min-width: 150px;
        }
        &__block-title{
            font-size: 18px;
            line-height: 135%;
        }
        &__block-text{
            font-size: 14px;
            line-height: 140%;
        }
        & .page-section{
            padding: 0;
        }
        &__dec-1{
            display: none;
        }
        &__dec-2{
            right: 4px;
            bottom: 43px;
            left: unset;
            transform: rotate(-30deg);

        }

    }
}
