@import "vars";

@import "global";
@import "header";

.menu__list .menu__list-item:first-child::after{
    content: '';
    display: block;
    width: 67px;
    height: 2px;
    background-color: #fff;
}
@media (max-width: 1350px) {
    .menu__list .menu__list-item:first-child::after{
        display: none;
    }
}

.top{
    position: relative;
    background-image: url(../images/main/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__inner{
        display: flex;
        padding-top: 88px;
    }

    &__inner-text{
        @extend%play;
        font-size: 48px;
        line-height: 150%;
        width: 33vw;
    }

    &__inner-btn{
        display: flex;
        align-items: center;
        margin-top: 100px;
        margin-bottom: 80px;
    }
    &__inner-fb, 
    &__inner-playlist{
        margin-right: 40px;
        position: relative;
        z-index: 1;
        width: 64px;
        height: 64px;
        &:hover path{
            fill: #F58122;
        }
        &:hover circle{
            stroke: #F58122;
        }
    }
    &__inner__play{
        width: 160px;
        height: 160px;
        position: absolute;
        top: 260px;
        left: calc((100vw - 160px)/2);
        display: flex;
        flex-direction: column;
        
    }
    &__inner__play-btn{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__inner__play-internal{
        position: relative;
        top: -146px;
    }
    &__inner__play-base{
        position: relative;
        top: -247px;
        width: 70px;
        height: 70px;
        background: white;
        border-radius: 100px;
        &::after{
            content: url(../images/main/play-orange.svg);
            position: relative;
            width: 40px;
            height: 44px;
            top: 13px;
            left: 19px;
        }
    }
    &__inner__play-slider{
        position: relative;
        top: -140px;

    }

    &__tracks{
        display: flex;
        justify-content: space-between;
        align-content: center;
        width: 80vw;
        position: relative;
        top: 32px;
        z-index: 1;
        
    }
    &__tracks-1,
    &__tracks-2,
    &__tracks-3{
        background: #242530;
        border-radius: 6px;
        width: 25vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 24px;
        @extend%play;
        font-size: 16px;
        line-height: 125%;
        
    }
    &__tracks-2{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        padding-left: 30px;
        &::before{
            content: "";
            width: 24px;
            height: 27px;
            background-image: url(../images/main/play-orange.svg);
            background-size: contain;
            // background-repeat: no-repeat;
            background-position: center;
            margin-right: 30px;
        }
    }
    &__dec-1{
        position: absolute;
        top: 20px;
        left:0;
    }
    &__dec-2{
        position: absolute;
        top: 385px;
        left:-1vw;
    }
    &__dec-3{
        position: absolute;
        bottom: 0;
        right:0;
    }
        
}

.playBig{
    &>.top__inner__play-external path{
        stroke: #F58122;
    }
    &>.top__inner__play-internal path{
        stroke: #F58122;
    }
    &::before{
        content: " ";
        height: 4px;
        width: 36px;
        position: absolute;
        top: 75px;
        z-index: 1;
        background-color: #F58122;
        border-radius: 8px;
    }

    &::after{
        content: " ";
        height: 4px;
        width: 36px;
        position: absolute;
        top: 87px;
        z-index: 1;
        background-color: #F58122;
        border-radius: 8px;
    }
    &>.top__inner__play-base::after{
        content: "";
    }
}

.sliders{
    margin-top:64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__text{
        text-align: center;
        @extend%play;
        font-size: 32px;
        line-height: 150%;
        color: #242530;
        margin-bottom: 32px;
    }

    & .main-carousel{
        width: 100%;
        margin-bottom: 80px;
    }

    & .carousel-cell{
        width: 25%;
        margin-left: 5%;
    }
    
}
.flickity-button {
        background: none;
        &-icon {
            fill: black;
        }
    }
.flickity-prev-next-button {
    width: 35px;
    height: 70px;
}

.flickity-prev-next-button.previous {
  left: -90px;
}
.flickity-prev-next-button.next {
  right: -90px;
}

.order{
    position: relative;
    background: #242530;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    &__line{
        height: 265px;
        width: 2px;
        background-color: #fff;
        opacity: 0.5;
        margin: 80px;
    }
    &__block{
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 30vw;
    }
    &__title{
        @extend%play;
        font-size: 32px;
        line-height: 150%;
        color: #E9E9E9;
    }
    &__marker{
        width: 104px;
        height: 2px;
        background-color: #fff;
        opacity: 0.5;
        margin: 20px;
    }

    &__text{
        @extend%ssp-400;
        font-size: 18px;
        line-height: 135%;
        color: #FFFFFF;
    }
    &__btn{
        width: 12vw;
        margin-top: 25px;
    }
    &__dec-1{
        position: absolute;
        z-index: 0;
        left:-110px;
        top: -150px;
    }
    &__dec-2{
        position: absolute;
        z-index: 0;
        bottom: 0;
        right:0;
    }
}

.cooperation{
    display: flex;
    align-items: center;
    width: 100%;
    &__img{
        position: relative;
        left: -10vw;
        width: 50vw;
    }
    &__block{
        display: flex;
        flex-direction: column;
        position: relative;
        left: -8vw;

    }
    &__title{
        @extend%play;
        font-size: 32px;
        line-height: 150%;
        color: #242530;
        text-align: center;
        margin-bottom: 52px;
    }
    &__text{
       
        @extend%ssp-400;
        font-size: 18px;
        line-height: 135%;
        color: #242530;
        margin-top: 8px;
        width: 39vw;
    }
    &__text1{
        @extend%play;
        font-size: 20px;
        line-height: 120%;
        margin-bottom: 16px;
    }
    &__btn{
        margin-top: 20px;
        width: 12vw;
    }
}
.program{
    background: #242530;
    display: flex;
    flex-direction: column;
    align-content: center;
    &__title{
        @extend%play;
        font-size: 32px;
        line-height: 150%;
        margin: 80px 0 55px 0;
        text-align: center;
    }
    &__gallery{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 1289px;
        margin: 0 auto;
    }
    &__gallery-title{
        @extend%play;
        font-size: 16px;
        line-height: 125%;
        color: #242530;
    }
    &__gallery-text{
        @extend%ssp-400;
        font-size: 14px;
        line-height: 140%;
        color: #525257;
    }
    &__gallery-caption{
        visibility: hidden;
        position: relative;
        top: -90px;
        background-color: white;
        border-radius: 0px 0px 9px 9px;
        width: 258px;
        padding:10px 8px;
        z-index: 1;
        &:hover{
            visibility: visible;
        }

    }
    &__gallery-img{
        position: relative;
        z-index: 0;
        border-radius: 9px;
        width: 258px;
        margin-bottom: 10px;
        &:hover + .program__gallery-caption{
            visibility: visible;
        }
    }
    &__btn{
        width: 12vw;
        align-self: center;
        margin-bottom: 80px;
    }
}
.news{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__title{
        @extend%play;
        font-size: 32px;
        line-height: 150%;
        color: #242530;
        text-align: center;
        margin-top: 80px;
    }
    &__block{
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        margin: 52px 0;
    }
    &__item{
        display: flex;
        flex-direction: column;
        width: 25vw;
    }
    &__item-img{
        border-radius: 8px 8px 0px 0px;
    }
    &__item-caption{
        background: white;
        padding: 8px

    }
    &__item-title{
        @extend%ssp-400;
        font-size: 16px;
        line-height: 150%;
        color: #242530;
        margin-bottom: 4px;
    }
    &__item-text{
        @extend%ssp-300;
        font-size: 16px;
        line-height: 150%;
        color: #525257;
        margin-bottom: 4px;
    }
    &__item-time{
        @extend%play;
        text-align: right;
        font-size: 14px;
        line-height: 140%;
        color: #525257;
    }
    &__btn{
        margin-bottom: 80px;
        width: 12vw;
    }
}




@import "footer";
@import "media";