@import "vars";

@import "global";
@import "header";

.menu__list .menu__list-item:first-child::after{
    content: '';
    display: block;
    width: 67px;
    height: 2px;
    background-color: #fff;
    // margin-top: 4px;
}





@import "footer";
@import "media";