@charset "UTF-8";
.news__item-text, .footer__block-text {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}

.header__play-text, .order__text, .cooperation__text, .program__gallery-text, .news__item-title, .footer__block-title, .footer__bottom {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}

.header__lang, .menu {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
}

button, .top__inner-text, .top__tracks-1, .top__tracks-2, .top__tracks-3, .sliders__text, .order__title, .cooperation__title, .cooperation__text1, .program__title, .program__gallery-title, .news__title, .news__item-time, .menu-open + .menu__list {
  font-family: 'Play', sans-serif;
  font-weight: 400;
}

html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}

button {
  font-size: 18px;
  line-height: 110%;
  outline: none;
  color: #242530;
  background: #F58122;
  border: 2px solid #F58122;
  border-radius: 8px;
  height: 44px;
  cursor: pointer;
}

button:hover {
  background: #CA6D20;
  border: #F58122;
}

body {
  overflow-x: hidden;
  margin: 0 auto;
}

.page-section {
  padding: 0 10%;
}

.header {
  background: #242530;
  position: relative;
  z-index: 10;
  padding: 8px 24px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__lang-ua {
  display: none;
}

.header__lang {
  font-size: 18px;
  line-height: 135%;
  margin: 0 1.5vw;
}

.header__lang:hover {
  color: #F58122;
}

.header__play {
  display: flex;
  align-items: center;
}

.header__play-btn {
  width: 32px;
  height: 32px;
  background: linear-gradient(90deg, #F58122 0%, #F4A05B 23.75%, #F58122 48.22%, #F58122 48.23%, #F4A05B 75.31%, #F58122 100%);
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 25px;
}

.header__play-btn::after {
  content: "";
  display: block;
  margin: 6px 5px 6px 9px;
  background-image: url(../images/header/play-white.svg);
  width: 18px;
  height: 20px;
}

.header__play-text {
  font-size: 16px;
  line-height: 150%;
  display: flex;
  flex-direction: column;
}

.header__play-text::before {
  content: "Зараз грає";
  display: block;
  font-size: 14px;
  line-height: 140%;
}

.header__menu-btn {
  display: none;
  cursor: pointer;
}

.header__menu-btn span {
  display: block;
  width: 40px;
  height: 4px;
  background: white;
  border-radius: 100px;
  transition: all 0.3s;
}

.header__menu-btn::before {
  content: "";
  display: block;
  margin-bottom: 8px;
  width: 40px;
  height: 4px;
  background: white;
  border-radius: 100px;
  transition: all 0.7s;
}

.header__menu-btn::after {
  content: "";
  display: block;
  margin-top: 8px;
  width: 40px;
  height: 4px;
  background: white;
  border-radius: 100px;
  transition: all 0.7s;
}

.menu {
  font-size: 18px;
  line-height: 135%;
  width: 75vw;
}

.menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__list-link:hover {
  color: #F58122;
}

.change-lang > .header__lang-eng {
  display: none;
}

.change-lang > .header__lang-ua {
  display: block;
}

.play::after {
  content: "";
  background-image: none;
  height: 8px;
  width: 16px;
  margin: 12px 8px;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

.logo__img {
  margin-right: 1.5vw;
}

.menu__list .menu__list-item:first-child::after {
  content: '';
  display: block;
  width: 67px;
  height: 2px;
  background-color: #fff;
}

@media (max-width: 1350px) {
  .menu__list .menu__list-item:first-child::after {
    display: none;
  }
}

.top {
  position: relative;
  background-image: url(../images/main/bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.top__inner {
  display: flex;
  padding-top: 88px;
}

.top__inner-text {
  font-size: 48px;
  line-height: 150%;
  width: 33vw;
}

.top__inner-btn {
  display: flex;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 80px;
}

.top__inner-fb, .top__inner-playlist {
  margin-right: 40px;
  position: relative;
  z-index: 1;
  width: 64px;
  height: 64px;
}

.top__inner-fb:hover path, .top__inner-playlist:hover path {
  fill: #F58122;
}

.top__inner-fb:hover circle, .top__inner-playlist:hover circle {
  stroke: #F58122;
}

.top__inner__play {
  width: 160px;
  height: 160px;
  position: absolute;
  top: 260px;
  left: calc((100vw - 160px)/2);
  display: flex;
  flex-direction: column;
}

.top__inner__play-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top__inner__play-internal {
  position: relative;
  top: -146px;
}

.top__inner__play-base {
  position: relative;
  top: -247px;
  width: 70px;
  height: 70px;
  background: white;
  border-radius: 100px;
}

.top__inner__play-base::after {
  content: url(../images/main/play-orange.svg);
  position: relative;
  width: 40px;
  height: 44px;
  top: 13px;
  left: 19px;
}

.top__inner__play-slider {
  position: relative;
  top: -140px;
}

.top__tracks {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 80vw;
  position: relative;
  top: 32px;
  z-index: 1;
}

.top__tracks-1, .top__tracks-2, .top__tracks-3 {
  background: #242530;
  border-radius: 6px;
  width: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px;
  font-size: 16px;
  line-height: 125%;
}

.top__tracks-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  padding-left: 30px;
}

.top__tracks-2::before {
  content: "";
  width: 24px;
  height: 27px;
  background-image: url(../images/main/play-orange.svg);
  background-size: contain;
  background-position: center;
  margin-right: 30px;
}

.top__dec-1 {
  position: absolute;
  top: 20px;
  left: 0;
}

.top__dec-2 {
  position: absolute;
  top: 385px;
  left: -1vw;
}

.top__dec-3 {
  position: absolute;
  bottom: 0;
  right: 0;
}

.playBig > .top__inner__play-external path {
  stroke: #F58122;
}

.playBig > .top__inner__play-internal path {
  stroke: #F58122;
}

.playBig::before {
  content: " ";
  height: 4px;
  width: 36px;
  position: absolute;
  top: 75px;
  z-index: 1;
  background-color: #F58122;
  border-radius: 8px;
}

.playBig::after {
  content: " ";
  height: 4px;
  width: 36px;
  position: absolute;
  top: 87px;
  z-index: 1;
  background-color: #F58122;
  border-radius: 8px;
}

.playBig > .top__inner__play-base::after {
  content: "";
}

.sliders {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sliders__text {
  text-align: center;
  font-size: 32px;
  line-height: 150%;
  color: #242530;
  margin-bottom: 32px;
}

.sliders .main-carousel {
  width: 100%;
  margin-bottom: 80px;
}

.sliders .carousel-cell {
  width: 25%;
  margin-left: 5%;
}

.sliders .carousel-cell img {
  width: 100%;
}

.flickity-page-dots .dot {
  background: transparent;
}

.flickity-button {
  background: none;
}

.flickity-button-icon {
  fill: black;
}

.flickity-prev-next-button {
  width: 35px;
  height: 70px;
}

.flickity-prev-next-button.previous {
  left: -90px;
}

.flickity-prev-next-button.next {
  right: -90px;
}

.order {
  position: relative;
  background: #242530;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.order__line {
  height: 265px;
  width: 2px;
  background-color: #fff;
  opacity: 0.5;
  margin: 80px;
}

.order__block {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 30vw;
}

.order__title {
  font-size: 32px;
  line-height: 150%;
  color: #E9E9E9;
}

.order__marker {
  width: 104px;
  height: 2px;
  background-color: #fff;
  opacity: 0.5;
  margin: 20px;
}

.order__text {
  font-size: 18px;
  line-height: 135%;
  color: #FFFFFF;
}

.order__btn {
  width: 12vw;
  margin-top: 25px;
}

.order__dec-1 {
  position: absolute;
  z-index: 0;
  left: -110px;
  top: -150px;
}

.order__dec-2 {
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: 0;
}

.cooperation {
  display: flex;
  align-items: center;
  width: 100%;
}

.cooperation__img {
  position: relative;
  left: -10vw;
  width: 50vw;
}

.cooperation__block {
  display: flex;
  flex-direction: column;
  position: relative;
  left: -8vw;
}

.cooperation__title {
  font-size: 32px;
  line-height: 150%;
  color: #242530;
  text-align: center;
  margin-bottom: 52px;
}

.cooperation__text {
  font-size: 18px;
  line-height: 135%;
  color: #242530;
  margin-top: 8px;
  width: 39vw;
}

.cooperation__text1 {
  font-size: 20px;
  line-height: 120%;
  margin-bottom: 16px;
}

.cooperation__btn {
  margin-top: 20px;
  width: 12vw;
}

.program {
  background: #242530;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.program__title {
  font-size: 32px;
  line-height: 150%;
  margin: 80px 0 55px 0;
  text-align: center;
}

.program__gallery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1289px;
  margin: 0 auto;
}

.program__gallery-title {
  font-size: 16px;
  line-height: 125%;
  color: #242530;
}

.program__gallery-text {
  font-size: 14px;
  line-height: 140%;
  color: #525257;
}

.program__gallery-caption {
  visibility: hidden;
  position: relative;
  top: -90px;
  background-color: white;
  border-radius: 0px 0px 9px 9px;
  width: 258px;
  padding: 10px 8px;
  z-index: 1;
}

.program__gallery-caption:hover {
  visibility: visible;
}

.program__gallery-img {
  position: relative;
  z-index: 0;
  border-radius: 9px;
  width: 258px;
  margin-bottom: 10px;
}

.program__gallery-img:hover + .program__gallery-caption {
  visibility: visible;
}

.program__btn {
  width: 12vw;
  align-self: center;
  margin-bottom: 80px;
}

.news {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.news__title {
  font-size: 32px;
  line-height: 150%;
  color: #242530;
  text-align: center;
  margin-top: 80px;
}

.news__block {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin: 52px 0;
}

.news__item {
  display: flex;
  flex-direction: column;
  width: 25vw;
}

.news__item-img {
  border-radius: 8px 8px 0px 0px;
}

.news__item-caption {
  background: white;
  padding: 8px;
}

.news__item-title {
  font-size: 16px;
  line-height: 150%;
  color: #242530;
  margin-bottom: 4px;
}

.news__item-text {
  font-size: 16px;
  line-height: 150%;
  color: #525257;
  margin-bottom: 4px;
}

.news__item-time {
  text-align: right;
  font-size: 14px;
  line-height: 140%;
  color: #525257;
}

.news__btn {
  margin-bottom: 80px;
  width: 12vw;
}

.footer {
  position: relative;
  background: #242530;
  width: 100vw;
  padding: 40px 0 32px 0;
}

.footer__top {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
}

.footer__block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__logo {
  width: 208px;
}

.footer-fb {
  margin-top: 28px;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.footer-fb:hover circle {
  stroke: #F58122;
}

.footer-fb:hover path {
  fill: #F58122;
}

.footer__block-title {
  align-self: flex-start;
  font-size: 20px;
  line-height: 140%;
  color: #E9E9E9;
  margin-bottom: 28px;
}

.footer__block-text {
  font-size: 16px;
  line-height: 150%;
  color: #E9E9E9;
  align-self: flex-start;
  display: flex;
  align-items: center;
  width: 287px;
  margin-bottom: 15px;
}

.footer__block-text img {
  position: relative;
  left: -13px;
}

.footer-link {
  display: flex;
  flex-direction: column;
}

.footer-link:hover {
  color: #F58122;
}

.footer__block-btn {
  background: transparent;
  margin-bottom: 14px;
  color: white;
  font-size: 16px;
  line-height: 125%;
  width: 162px;
}

.footer__bottom {
  position: relative;
  z-index: 1;
  font-size: 16px;
  line-height: 150%;
  width: 314px;
  color: #E9E9E9;
  margin-top: 40px;
  padding-bottom: 32px;
}

.footer__dec-1 {
  position: absolute;
  z-index: 0;
  left: 0;
}

.footer__dec-2 {
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: 50vw;
}

.footer__dec-3 {
  position: absolute;
  z-index: 0;
  right: 0;
  top: -100px;
}

@media (max-width: 1350px) {
  .news__item-text, .footer__block-text {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
  }
  .header__play-text, .order__text, .cooperation__text, .program__gallery-text, .news__item-title, .footer__block-title, .footer__bottom {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
  }
  .header__lang, .menu {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
  }
  button, .top__inner-text, .top__tracks-1, .top__tracks-2, .top__tracks-3, .sliders__text, .order__title, .cooperation__title, .cooperation__text1, .program__title, .program__gallery-title, .news__title, .news__item-time, .menu-open + .menu__list {
    font-family: 'Play', sans-serif;
    font-weight: 400;
  }
  .menu {
    width: 10vw;
    transition: all 1s;
  }
  .menu__list-link {
    display: inline-block;
    margin-bottom: 20px;
  }
  .menu__list {
    display: none;
  }
  .header__menu-btn {
    display: block;
    order: 1;
    transition: all 1s;
  }
  .header__lang-wrapp {
    order: 2;
  }
  .header__play {
    order: 4;
    width: 30vw;
    min-width: 200px;
  }
  .logo__img {
    order: 3;
    width: 80vw;
  }
  .footer__block__btns {
    position: absolute;
    left: 0;
    top: 160px;
  }
  .footer__block__menu {
    position: relative;
    order: 2;
    margin-left: 8vw;
  }
  .footer__block__contact {
    position: relative;
    order: 3;
  }
  .footer__logo {
    width: 153px;
  }
  .footer__block-text {
    width: 190px;
  }
  .top__inner {
    padding-top: 40px;
  }
  .top__inner-text {
    font-size: 32px;
    line-height: 150%;
    width: 38vw;
  }
  .top__inner-btn {
    margin-top: 200px;
    margin-bottom: 0;
  }
  .top__inner__play {
    top: 150px;
  }
  .top__inner__play-slider {
    top: -170px;
  }
  .top__tracks {
    width: 96vw;
    position: relative;
    left: -8vw;
    z-index: 1;
  }
  .top__tracks-1, .top__tracks-2, .top__tracks-3 {
    font-size: 14px;
    line-height: 140%;
    padding: 16px 12px;
    width: 31vw;
  }
  .top__tracks-2::before {
    margin-right: 14px;
    width: 16px;
    height: 18px;
  }
  .top__dec-1 {
    top: -150px;
    left: -115px;
  }
  .top__dec-2 {
    position: absolute;
    top: 200px;
    left: -180px;
  }
  .top__dec-3 {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .sliders .main-carousel {
    width: 100vw;
    margin-bottom: 70px;
  }
  .flickity-page-dots .dot {
    background: transparent;
  }
  .flickity-button {
    display: none;
  }
  .flickity-page-dots .dot {
    background: #525257;
    opacity: 1;
    width: 8px;
    height: 8px;
  }
  .flickity-page-dots .is-selected {
    background: #F58122;
  }
  .order {
    align-items: start;
  }
  .order__line {
    margin: 53px 5px;
  }
  .order__block {
    position: relative;
    width: 50vw;
    padding-top: 53px;
  }
  .order__title {
    font-size: 28px;
    line-height: 130%;
  }
  .order__text {
    font-size: 16px;
    line-height: 150%;
  }
  .order__btn {
    width: 164px;
    position: absolute;
    top: 270px;
  }
  .cooperation {
    align-items: start;
    padding-top: 100px;
    padding-bottom: 0;
  }
  .cooperation__title {
    font-size: 28px;
    line-height: 130%;
    margin-top: 52px;
    position: relative;
    left: -20vw;
    margin-bottom: 0;
    padding-bottom: -70px;
    top: -35px;
  }
  .cooperation__block {
    top: -90px;
    left: -10vw;
  }
  .cooperation__text {
    font-size: 16px;
    line-height: 150%;
  }
  .cooperation__text1 {
    font-size: 18px;
    line-height: 110%;
    margin-bottom: 12px;
  }
  .cooperation__btn {
    margin-top: 20px;
    width: 160px;
  }
  .cooperation__img {
    left: -15vw;
    width: 55vw;
  }
}

.menu-open + .menu__list {
  display: block;
  position: absolute;
  font-size: 20px;
  line-height: 140%;
  flex-direction: column;
  background: #242530;
  top: 80px;
  left: 0;
  padding: 60px 56px 60px 49px;
}

.menu-open {
  transition: all 0.5s;
  position: fixed;
}

.menu-open span {
  transform: rotate(-45deg);
}

.menu-open::before {
  transform: rotate(45deg);
  margin-bottom: -4px;
}

.menu-open::after {
  transform: rotate(-45deg);
  background-color: transparent;
}
