extends ./components/page.pug
block link
    link(rel="stylesheet", href="./css/main.css")

block title
    | Головна
block content
    section.page-section.top
        img.top__dec-1(src="./images/main/decoration-circle-1.svg", alt="")
        img.top__dec-2(src="./images/main/decoration-circle-2.svg", alt="")
        img.top__dec-3(src="./images/main/decoration-circle-3.svg", alt="")
        .top__inner
            .top__inner-info
                h1.top__inner-text Слухати радіо твого улюбленого міста CID FM
                .top__inner-btn 
                    a.top__inner-fb(href="#")
                        svg(width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg")
                            circle(cx="32" cy="32" r="31.5" stroke="white")
                            g(clip-path="url(#clip0)")
                            path(d="M28.0844 48V32.9847H24V27.5784H28.0844V22.9608C28.0844 19.3322 30.4971 16 36.0565 16C38.3074 16 39.9718 16.2098 39.9718 16.2098L39.8406 21.2583C39.8406 21.2583 38.1432 21.2422 36.2909 21.2422C34.2861 21.2422 33.9649 22.1403 33.9649 23.6309V27.5784H40L39.7374 32.9847H33.9649V48H28.0844Z" fill="white")
                            defs
                                clipPath(id="clip0")
                                rect(width="32" height="32" fill="white" transform="translate(16 16)")
                    a.top__inner-playlist(href="#")
                        svg(width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg")
                            circle(cx="32" cy="32" r="31.5" stroke="white")
                            path(d="M33.6 39.8628C33.6 43.2472 36.1168 46 39.2112 46C42.3056 46 44.8224 43.2472 44.8224 39.8628C44.8224 39.553 44.7792 39.2555 44.7376 38.958H44.8V21.5H48V18H43.2C42.7757 18 42.3687 18.1844 42.0686 18.5126C41.7686 18.8408 41.6 19.2859 41.6 19.75V34.3328C40.855 33.9384 40.0388 33.7315 39.2112 33.7273C37.7237 33.7286 36.2974 34.3754 35.2455 35.5257C34.1935 36.676 33.6017 38.2358 33.6 39.8628ZM16 19.75H38.4V23.25H16V19.75Z" fill="white")
                            path(d="M16 26.75H38.4V30.25H16V26.75ZM16 33.75H30.4V37.25H16V33.75ZM16 40.75H30.4V44.25H16V40.75Z" fill="white")
            .top__inner__play
                .top__inner__play-btn 
                    svg.top__inner__play-external(width="160" height="160" viewBox="0 0 160 160" fill="none" xmlns="http://www.w3.org/2000/svg")
                        path(d="M156 80C156 121.974 121.974 156 80 156C38.0264 156 4 121.974 4 80C4 38.0264 38.0264 4 80 4C121.974 4 156 38.0264 156 80Z" stroke="white" stroke-opacity="0.3" stroke-width="8")
                    svg.top__inner__play-internal(width="132" height="132" viewBox="0 0 132 132" fill="none" xmlns="http://www.w3.org/2000/svg")
                        path(d="M126 66C126 99.1371 99.1371 126 66 126C32.8629 126 6 99.1371 6 66C6 32.8629 32.8629 6 66 6C99.1371 6 126 32.8629 126 66Z" stroke="white" stroke-opacity="0.52" stroke-width="12")
                    a(href="#").top__inner__play-base
            .top__inner__slideContainer    
                input.top__inner__play-slider(type="range" min="1" max="100" value="1" id="MyRange")
                
        .top__tracks
            .top__tracks-1 
                p Попередній трек
                p 23:40 ⠀A Fine Frenzy – Winter White
            .top__tracks-2 
                .top__tracks-2-text
                    p Зараз грає
                    p 23:42 ⠀Sia – My Old Santa Claus
            .top__tracks-3  
                p Наступний трек
                p 23:46 ⠀O.TORVALD – Крик
    section.page-section
        .sliders 
            h2.sliders__text Скоро
            .main-carousel(data-flickity='{ "cellAlign": "left", "contain": true, "freeScroll": true, "wrapAround": true}')
                .carousel-cell 
                    img(src="./images/main/slider-1.jpg", alt="")
                .carousel-cell 
                    img(src="./images/main/slider-2.jpg", alt="")
                .carousel-cell 
                    img(src="./images/main/slider-3.jpg", alt="")
                .carousel-cell 
                    img(src="./images/main/slider-4.jpg", alt="")
    section.page-section.order
        img.order__dec-1(src="./images/main/decoration-circle-1.svg", alt="")
        .order__block 
            h2.order__title Замовити пісню
            .order__marker
            p.order__text Даруйте собі та своїм близьким маленьку щоденну радість - замовляйте пісню на CID FM. І хай прибуде з вами магія радіо!
            button.order__btn Замовити
        .order__line 
        .order__block 
            h2.order__title Купити атрибутику
            .order__marker
            p.order__text Ми підготували для вас дещо цікаве і дуже цінне для усіх поціновувачів радіо CID FM. Станьте частинкою рідної та унікальної радіоспільноти CID FM.
            button.order__btn Замовити
        img.order__dec-2(src="./images/main/decoration-order-2.svg", alt="")
    section.page-section 
        .cooperation
            img.cooperation__img(src="./images/main/cooperation.jpg", alt="Cooperation")
            .cooperation__block 
                h2.cooperation__title Співпраця
                p.cooperation__text.cooperation__text1 Запрошуємо до співпраці рекламодавців, які турбуються про своїх клієнтів! 
                p.cooperation__text Пропонуємо: Аудіорекламу. Виробництво аудіороликів. Виробництво подкастів. Спонсорську підтримку програм. Стати гостем студії. 
                p.cooperation__text Разом із нашими фахівцями ви зможете розробити ексклюзивну комунікаційну стратегію, враховуючи потреби нашої аудиторії та ваших клієнтів. Ба навіть створити новий радіопроєкт.
                button.cooperation__btn Детально
    section.page-section.program  
        h2.program__title Програми та подкасти
        .program__gallery
            .program__gallery-item 
                img.program__gallery-img(src="./images/main/gallery-1.jpg", alt="photo")
                .program__gallery-caption 
                    p.program__gallery-title Район здорової людини
                    p.program__gallery-text Спростовуємо стереотипи про здоров’я
            .program__gallery-item 
                img.program__gallery-img(src="./images/main/gallery-2.jpg", alt="photo")
                .program__gallery-caption 
                    p.program__gallery-title Район здорової людини
                    p.program__gallery-text Спростовуємо стереотипи про здоров’я
            .program__gallery-item 
                img.program__gallery-img(src="./images/main/gallery-3.jpg", alt="photo")
                .program__gallery-caption 
                    p.program__gallery-title Район здорової людини
                    p.program__gallery-text Спростовуємо стереотипи про здоров’я
            .program__gallery-item 
                img.program__gallery-img(src="./images/main/gallery-4.jpg", alt="photo")
                .program__gallery-caption 
                    p.program__gallery-title Район здорової людини
                    p.program__gallery-text Спростовуємо стереотипи про здоров’я
            .program__gallery-item 
                img.program__gallery-img(src="./images/main/gallery-5.jpg", alt="photo")
                .program__gallery-caption 
                    p.program__gallery-title Район здорової людини
                    p.program__gallery-text Спростовуємо стереотипи про здоров’я
            .program__gallery-item 
                img.program__gallery-img(src="./images/main/gallery-6.jpg", alt="photo")
                .program__gallery-caption 
                    p.program__gallery-title Район здорової людини
                    p.program__gallery-text Спростовуємо стереотипи про здоров’я
            .program__gallery-item 
                img.program__gallery-img(src="./images/main/gallery-7.jpg", alt="photo")
                .program__gallery-caption 
                    p.program__gallery-title Район здорової людини
                    p.program__gallery-text Спростовуємо стереотипи про здоров’я
            .program__gallery-item 
                img.program__gallery-img(src="./images/main/gallery-8.jpg", alt="photo")
                .program__gallery-caption 
                    p.program__gallery-title Район здорової людини
                    p.program__gallery-text Спростовуємо стереотипи про здоров’я                    
        button.program__btn Більше

    section.page-section 
        .news 
            h2.news__title Новини міста Луцьк
            .main-carousel(data-flickity='{ "cellAlign": "left", "contain": true, "freeScroll": true, "wrapAround": true}')
                .news__item.carousel-cell  
                    img.news__item-img(src="./images/main/news-1.jpg", alt="news")
                    .news__item-caption 
                        p.news__item-title Схованка від дощу та місце для розвитку: про основні цілі та цінності Молодіжного центру Волині
                        p.news__item-text Креативний простір для молоді у самому центр Луцька діє уже 5 років.
                        p.news__item-time 15:15 11.01.2021
                .news__item.carousel-cell  
                    img.news__item-img(src="./images/main/news-2.jpg", alt="news")
                    .news__item-caption 
                        p.news__item-title Схованка від дощу та місце для розвитку: про основні цілі та цінності Молодіжного центру Волині
                        p.news__item-text Креативний простір для молоді у самому центр Луцька діє уже 5 років.
                        p.news__item-time 15:15 11.01.2021
                .news__item.carousel-cell  
                    img.news__item-img(src="./images/main/news-3.jpg", alt="news")
                    .news__item-caption 
                        p.news__item-title Схованка від дощу та місце для розвитку: про основні цілі та цінності Молодіжного центру Волині
                        p.news__item-text Креативний простір для молоді у самому центр Луцька діє уже 5 років.
                        p.news__item-time 15:15 11.01.2021
            button.news__btn Більше