#header{
    height: 80px;
    width: 100vw;
    position: fixed;
    z-index: 2;
    justify-content: space-around;
}

.now-play{
    font-size: 14px;
    line-height: 140%;
}

.now-song{
    font-size: 16px;
    line-height: 150%;  
}


.circle-vector{
    background: linear-gradient(90deg, #F58122 0%, #F4A05B 23.75%, #F58122 48.22%, #F58122 48.23%, #F4A05B 75.31%, #F58122 100%);
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

.logo-tablet {
    display: none;
    padding: 5px;
}