body {
    background: white;
    position: relative;
    margin: 0;
    min-width: 380px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    z-index: 1;
}

/*default styles*/

h1 {
    font-family:'Play', sans-serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 150%;
    color: #FFFFFF;
}

h2 {
    font-family:'Play', sans-serif;
    font-size: 32px;
    line-height: 150%;
    color: #242530;
}

 p{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
    color: #FFFFFF;
}

.play p{
    font-family: Play;
    font-size: 16px;
    line-height: 125%;
}

a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 135%;
    display: block;
}

.btn {
    padding: 12px 40px;
    background: #F58122;
    border: 2px solid #F58122;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .1);

    font-family: Play;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 110%;
}

button:hover {
    cursor: pointer;
}

.gray-1{
    background: #242530;
}

.a-line{
    text-decoration: none;
    display: inline-block;
    border-bottom: 1px solid;
    padding-bottom: 10px;
}

ul {
    list-style-type: none;
}

.menu-open {
    display: none;
}

#checkbox-desktop{
    display: none;
}
#checkbox-phone{
    display: none;
}

.checkbox-phone {
    display: none;
}

/*text styles*/

.text-gray-1 {
    color: #242530;
}

.text-2 {    
    color: #E9E9E9;
}

.text-gray-2 {
    color: #FFFFFF;
}

.text-gray-3{
    color: #525257;
}

/*flex box*/

.flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-sb{
    justify-content: space-between;
}

.justify-content-sa {
    justify-content: space-around;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

/*paddings & margin*/

.p-20 {
    padding: 20px;
}

.pt-10 {
    padding-top: 10px;
}

.pr-10 {
    padding-right: 10px;
}

.pl-10 {
    padding-left: 10px;
}

.mt-100 {
    margin-top: 100px;
}

.ml-20 {
    margin-left: 20px;
}

.pl-80{
    padding-left: 80px;
}

.mr-40 {
    margin-right: 40px;
}

/*positions*/

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

.z-index-2 {
    z-index: 2;
}