/* header */

.logo {
    display: none;
}

.logo-tablet{
    display: block;
    width: 178px;
    height: 64px;
    order: 2;
}

.soon {
    order: 3;
    padding-left: 25%;
}

nav ul {
    max-height: 0;
    overflow: hidden;
}

#checkbox-desktop {
    display: none;
}

#checkbox-desktop:checked ~ nav ul {
    max-height: 100vh;
    padding: 15px 15px;
    transition: all  0.5s;
}

.menu-open {
    display: block;
}

.navbar {
    position: absolute;
    flex-direction: column;
    background: #242530;
    top: 70px;
}

a {
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
}

.a-line {
    padding-bottom: 1px;
}

/* main */

main {
    height: 636px;
    padding: 110px 80px;
    background: linear-gradient(-268.93deg, #242530 1.14%, #171A1F 28.94%);
}


h1 {
    font-size: 32px;
}

.main-component {
    padding-top: 236px;
}

.man img{
    height: 636px;
    left: 50%;

}
